/*********************
       Reset
/********************/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


/*********************
      Généralité*
/********************/
body {
	font-family: 'Roboto', sans-serif;
	font-family: 1rem;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}



/*********************
        Header
/********************/
header {

	background-color: #35889a;
}

header .header {
	display: flex;
	justify-content: space-between;
	padding: 30px;
	margin-bottom: 60px;
}

.header p a{
	color: #fff;
	font-weight: bold;
}

.header a {
	transition: 1s
}

.header a:hover {
	color: #a1c037;
}



/*********************
          Main
/********************/
main form{
	text-align: center;
}



.compte input {
	padding: 25px 70px;
	background-color: #a1c037;
	border: 1px solid #a1c037;
	color: #fff;
	transition: 1.5s;
	position: absolute;
	top: 500px;
	left: 680px
}

.compte input:hover {
	background-color: #5003ff;
	border: 1px solid #5003ff;
}



/*********************
       Footer
/********************/
footer {
	background-color: #2f3241;
	margin-top: 200px;
}

footer p {
	text-align: center;
	padding: 20px;
	color: #fff;
}
